<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Szukaj:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class='col-md-6'>
                <h3>Wyszukiwana fraza: {{listFilter}}</h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length'>
                
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                                (click)='toggleImage()'>
                                {{showImage ? 'Ukryj' : 'Pokaż'}} focię
                            </button>
                        </th>
                        <th>Produkt</th>
                        <th>Kod</th>
                        <th>Dostępność</th>
                        <th>Cena</th>
                        <th>Ocena</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td>
                            <img *ngIf='showImage'
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | lowercase}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency :'EUR':true:'1.2-2'}}</td>
                        <td>{{product.starRating}}</td>

                    </tr>

                </tbody>
            </table>
        </div>



    </div>

</div>